# ==========================================
# BACKEND (NODE.JS)
# ==========================================
server/node_modules/
server/.env
server/serviceAccountKey.json    

# ==========================================
# FRONTEND (FLUTTER)
# ==========================================
client/build/
client/.dart_tool/
client/.idea/
client/android/.gradle/
client/ios/.symlinks/
client/ios/Pods/

# ==========================================
# HỆ THỐNG MÁY TÍNH
# ==========================================
.DS_Store
Thumbs.db